---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../components/layout.astro";
import Tag from "../../components/tag.astro";           // Only if you have tags
import DateTag from "../../components/date-tag.astro";   // Only if you use dates
import PostContent from "../../components/post/post-content.astro";

export async function getStaticPaths() {
  const news = await getCollection("news");
  return news.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

type Props = {
  entry: CollectionEntry<"news">;
};

const { entry } = Astro.props;
---

<Layout title={entry.data.title} description={entry.data.description}>
  <div>
    <div>
      <h1>{entry.data.title}</h1>
      <p class="post-summary">{entry.data.description}</p>
    </div>
    <div class="meta">
      {entry.data.date && <DateTag date={entry.data.date} />}
      {entry.data.tags?.map((tag) => <Tag tag={tag} />)}
    </div>
    {entry.data.cover && (
      <figure class="cover-image">
        <img src={`${entry.data.cover}?w=1200&q=80`} alt="cover" />
      </figure>
    )}
  </div>
  <article>
    <PostContent post={entry} />
  </article>
</Layout>
