---
import type { CollectionEntry } from "astro:content";
import DateTag from "../date-tag.astro";
import Tag from "../tag.astro";
import { getOptimizedImage } from "../../helpers/images";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const coverImage = await getOptimizedImage(post.data.cover);

// Determine if the post is in French by checking if the slug contains "-fr"
const isFrenchPost = post.slug.includes("-fr");

// Generate the URL depending on whether the post is French or English
const postUrl = isFrenchPost 
  ? `/fr/posts/${post.slug.replace('-fr', '')}` // Rewrite to /fr/posts/ without the -fr in the URL
  : `/en/posts/${post.slug}`; // Rewrite to /en/posts/ for English posts

// If the article has the tag "Archive", we do not display it unless we are on the Archive page
const isArchivePage = decodeURIComponent(Astro.url.pathname).includes('/tags/Archive');

if (!isArchivePage && post.data.tags?.includes("Archive")) {
  return null; // Do not display Archive-tagged articles unless on the Archive page
}

---

<section>
  {
    post.slug && (
<a href={postUrl} target="_self">
  {coverImage ? (
    <figure>
      <picture>
        {coverImage.sources?.map((source) => (
          <source srcset={source.srcset} type={source.type} />
        ))}
        <img
          src={coverImage.src}
          alt={post.data.title ?? "cover image"}
          loading="lazy"
          decoding="async"
          width={coverImage.attributes?.width ?? coverImage.width}
          height={coverImage.attributes?.height ?? coverImage.height}
          sizes="(max-width: 900px) 100vw, 840px"
        />
      </picture>
    </figure>
  ) : post.data.cover ? (
    <figure>
      <img
        src={post.data.cover}
        alt={post.data.title ?? "cover image"}
        loading="lazy"
        decoding="async"
      />
    </figure>
  ) : null}
</a>

<style>
/* CSS for the post list images (12:5 aspect ratio) */
figure {
    width: 100%;
    max-width: 840px; /* Adjust the max width */
    aspect-ratio: 12 / 5; /* Enforce the 12:5 aspect ratio */
    overflow: hidden; /* Prevent overflow */
    margin-bottom: var(--spacing-06); /* Adjust spacing as needed */
}

figure picture {
    display: contents;
}

figure img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire figure */
    transition: all 0.3s ease;
}

figure img:hover {
    transform: perspective(1200px) scale(1) rotate(0deg) rotateX(6deg) rotateY(0deg) skewX(0deg) skewY(0deg) translateZ(0px);
}
</style>

    )
  }
  <div>

    <a href={postUrl} target="_self">
      <h2 class="front-page-heading">{post.data.title}</h2>
    </a>

    <a href={postUrl} target="_self">
      <p class="summary">{post.data.description}</p>
    </a>

    <div class="meta">
      <DateTag date={post.data.date} />
      {post.data.tags?.filter(tag => tag !== "Français").map((tag) => <Tag tag={tag} />)}
    </div>

  </div>
</section>
